<div class="page">
  <div class="wrexy">
    <h1>
      Welcome to wrex.<br>
      <small>a communication app that strives to give you the<br>
        best recommendations we can for meaningful<br>
        company-wide engagement.</small>
    </h1>
    <a href="https://slack.com/oauth/authorize?scope=identity.basic&client_id=673170972101.673329247541">
      <img src="https://api.slack.com/img/sign_in_with_slack.png" />
    </a>
  </div>
  <div class="meet-wrexy">
    <mat-card>
      <h2>Meet Wrexy!<br><small>the slack bot that makes you the best you can be.</small></h2>
      <mat-card-content>
        <p>People are lazy. They don't have the time or energy to properly <strong>engage at work</strong>.</p>
        <p>Fear not, Wrexy is here to save the day! As your employees train her she'll train your employees.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- <div class="so-much-more">
    <h3>But we're so much more than a slack bot.</h3>
    <p>Machine learning does x, y, z buzz-wording and get your little bees to hang out with each other and keep them
      happy and healthy and educated.</p>
    <p>This app has a web app and a Slack app that allow developers to submit status updates. Those statuses are parsed
      into tags through natural language processing. The users and tags are run through a machine learning model in
      order to generate recommendations for connecting with other developers.In the web app you can view the
      accomplishments and recommendations.</p>
  </div> -->
</div>
