.wrexy {
  background-image: url('/assets/img/wrexy.png');
  background-repeat: no-repeat;
  background-position: center 24px;
  background-size: contain;
  height: 512px;
  position: relative;
}

.meet-wrexy {
  margin-top: 16px;
  text-align: center;

  h2 small {
    font-size: 0.7em;
  }
}
