.container {
  display: flex;
  flex-direction: column;

  &.gt-sm {
    flex-direction: row;
    justify-content: space-between;

    .recent,
    .user-info {
      flex: 1
    }
  }
}

.tags,
.user-info {
  margin: 32px 0;
}

.status-updater {
  min-height: 113px;

  &.go-vert {
    display: flex;
    align-items: center;
  }
}

.form-container {
  display: flex;

  .mat-form-field {
    flex: 1 0;
  }

  button {
    align-self: center;
    margin-left: 16px;
  }
}
