<div class="page">
  <h1>Dashboard</h1>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Recommendations</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <mat-progress-bar *ngIf="loadingRecommendations" mode="indeterminate"></mat-progress-bar>
      <mat-list class="recommendations">
        <mat-list-item *ngFor="let recommendation of recommendations">
          <mat-icon [ngClass]="recommendation.dismissed && 'disabled'">{{getRecommendationTypeIcon(recommendation.type)}}</mat-icon>
          <p [ngClass]="recommendation.dismissed && 'disabled'" [innerHTML]="recommendation.message"></p>
          <div class="button-row">
            <button mat-icon-button color="primary" [disabled]="recommendation.dismissed" (click)="accept(recommendation, true)"><mat-icon>thumb_up</mat-icon></button>
            <button mat-icon-button color="warn" [disabled]="recommendation.dismissed" (click)="accept(recommendation, false)"><mat-icon>thumb_down</mat-icon></button>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="!loadingRecommendations && recommendations && !recommendations.length">
          <p>Sorry, we don't have any recommendations for you at this time. <!--<a mat-button color="primary" routerLink="/">Maybe fill out a survey?</a> --></p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <!-- <mat-card-actions>
      <span class="spacer"></span>
      <button mat-flat-button color="primary">See More</button>
      <button mat-button>Dismiss All</button>
    </mat-card-actions> -->
  </mat-card>
</div>
