::ng-deep .mat-list.recommendations {
  align-content: space-between;

  .mat-list-item:not(:last-child) {
    margin-bottom: 8px;
  }

  .mat-list-item-content {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 4px;

    p {
      flex: 1;
    }
  }
}
