/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
}

/* Navigation */
.mat-list-item.active {
  color: #c2185b;
  font-weight: 700;
}
